*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Seravek, "Gill Sans", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  color: hsl(0, 0%, 25%);
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

a {
  color: hsl(0, 100%, 50%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

blockquote {
  padding-left: 1rem;
  border-left: 4px solid hsl(0, 0%, 85%);
  border-radius: 2px;
}
blockquote p:first-child {
  font-style: italic;
}

code {
  color: hsl(120, 100%, 30%);
}

.main {
  width: 95%;
  max-width: 64rem;
  margin: 4rem auto;
}

.example-box {
  padding: 0.5rem;
  background-color: hsl(0, 0%, 85%);
  border-radius: 4px;
}
@media (min-width: 48rem) {
  .example-box {
    padding: 0.5rem 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
