$font-base: Seravek, "Gill Sans", Ubuntu, Calibri, "DejaVu Sans",
  source-sans-pro, sans-serif;
$color-link: hsl(0, 100%, 50%);
$color-dark: hsl(0, 0%, 25%);
$color-code: hsl(120, 100%, 30%);
$color-gray: hsl(0, 0%, 85%);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $font-base;
  color: $color-dark;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding-left: 1rem;
  border-left: 4px solid $color-gray;
  border-radius: 2px;

  p {
    &:first-child {
      font-style: italic;
    }
  }
}

code {
  color: $color-code;
}

.main {
  width: 95%;
  max-width: 64rem;
  margin: 4rem auto;
}

.example-box {
  padding: 0.5rem;
  background-color: $color-gray;
  border-radius: 4px;
  @media (min-width: 48rem) {
    padding: 0.5rem 1.5rem;
  }
}